:root {
  --desktop-global-padding-inline: 102px;
  --tablet-global-padding-inline: 40px;
  --mobile-global-padding-inline: 20px;

  --color-white: #ffffff;
  --color-black: #212529;
  --color-lime: #8cc449;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Gilroy;
  margin: 0;
}

input {
  border: none;
  outline: none;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
}

p,
ul {
  margin: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

h1,
h2,
h3 {
  margin: 0;
  color: var(--color-black);
}

.logo {
  width: 120px;
}

header {
  position: fixed;
  top: 0;
  width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 140px;

  & > a,
  button {
    display: none;
  }

  svg {
    width: 15px;
  }

  & > div:first-of-type {
    padding-inline: var(--desktop-global-padding-inline);
    display: flex;
    justify-content: space-between;
    background-color: #f5f9fb;
    color: #212529;
    height: 60px;

    div {
      display: flex;
      align-items: center;
      gap: 90px;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3px;
      }
    }

    ul {
      display: flex;
      align-items: center;
      gap: 24px;
    }
  }

  & > div:last-of-type {
    padding-inline: var(--desktop-global-padding-inline);
    display: flex;
    justify-content: space-between;
    height: 60px;

    nav {
      color: var(--color-black);

      ul {
        display: flex;
        gap: 24px;
      }
    }
    align-items: center;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 224px;
      height: 40px;
      border: none;
      background-color: var(--color-lime);
      color: var(--color-white);

      svg {
        margin-bottom: -2px;
      }
    }
  }
}

main {
  margin-top: 244px;

  .foamiran-wholesale-supplies {
    display: flex;
    gap: 35px;
    padding-inline: var(--desktop-global-padding-inline);

    .foamiran-wholesale-supplies-wrapper {
      display: flex;
      flex-direction: column;
      height: 479px;
      justify-content: space-between;

      & > div {
        width: 707px;
        display: flex;
        flex-direction: column;
        gap: 45px;

        div {
          h1 {
            font-weight: 900;
            font-size: 57px;
            line-height: 110.00000000000001%;
            letter-spacing: -1%;
            text-transform: uppercase;

            span {
              color: var(--color-lime);
            }
          }

          h2 {
            font-weight: 700;
            font-size: 50px;
            line-height: 110.00000000000001%;
            letter-spacing: 0%;
            width: 90%;
          }
        }
        ul {
          display: flex;
          justify-content: space-between;

          li {
            font-weight: 400;
            font-size: 17px;
            line-height: 150%;
            letter-spacing: 0%;
            display: flex;
            gap: 14px;
            color: #212529cc;

            img {
              width: 38.414451599121094px;
              height: 39.33334732055664px;
            }
          }
        }
      }

      form {
        display: flex;
        gap: 9px;

        input {
          width: 217px;
          height: 56px;
          background-color: #eaf4f9;
          font-weight: 400;
          font-size: 17px;
          line-height: 150%;
          letter-spacing: 0%;
          color: #21252999;
          padding-left: 21px;
        }

        button {
          width: 208px;
          height: 56px;
          font-weight: 600;
          font-size: 18px;
          line-height: 120%;
          letter-spacing: 0%;
          color: var(--color-white);
          background-color: var(--color-lime);
        }
      }
    }

    picture {
      img {
        width: 495px;
        height: 479px;
      }
    }
  }
}

@media (max-width: 1439px) {
  header {
    height: 75px;
    padding-inline: 15px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    svg {
      height: 22px;
      width: auto;
    }

    & > div:first-of-type,
    div:last-of-type {
      display: none;
    }

    & > a,
    button {
      display: block;
    }
  }

  main {
    margin-top: 145px;

    .foamiran-wholesale-supplies {
      flex-direction: column;
      gap: 40px;
      padding-inline: var(--tablet-global-padding-inline);

      .foamiran-wholesale-supplies-wrapper {
        height: 400px;
        width: 690px;

        & > div {
          width: 690px;

          div {
            h1 {
              font-size: 50px;
            }

            h2 {
              font-size: 45px;
              width: 100%;
            }
          }
        }

        form {
          input {
            width: 232px;
          }
        }
      }

      picture {
        img {
          width: 690px;
          height: 376px;
        }
      }
    }
  }
}

@media (max-width: 771px) {
  main {
    margin-top: 125px;

    .foamiran-wholesale-supplies {
      padding-inline: var(--mobile-global-padding-inline);

      .foamiran-wholesale-supplies-wrapper {
        width: 335px;
        height: fit-content;
        gap: 40px;

        & > div {
          width: 335px;
          gap: 30px;

          div {
            h1 {
              font-size: 40px;
            }
            h2 {
              font-size: 30px;
            }
          }

          ul {
            gap: 30px;
            flex-direction: column;

            li {
              display: flex;
              align-items: center;
            }
          }
        }

        form {
          flex-direction: column;

          input,
          button {
            width: 335px;
          }
        }
      }

      picture {
        img {
          width: 335px;
          height: 280px;
        }
      }
    }
  }
}
