@font-face {
  font-family: 'Gilroy';
  src: url('/assets/fonts/Gilroy-Regular.eot');
  src: url('/assets/fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Gilroy-Regular.woff') format('woff'), url('/assets/fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/assets/fonts/Gilroy-SemiBold.eot');
  src: url('/assets/fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Gilroy-SemiBold.woff') format('woff'),
    url('/assets/fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/assets/fonts/Gilroy-Bold.eot');
  src: url('/assets/fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Gilroy-Bold.woff') format('woff'), url('/assets/fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/assets/fonts/Gilroy-ExtraBold.eot');
  src: url('/assets/fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Gilroy-ExtraBold.woff') format('woff'),
    url('/assets/fonts/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/assets/fonts/Gilroy-Heavy.eot');
  src: url('/assets/fonts/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Gilroy-Heavy.woff') format('woff'), url('/assets/fonts/Gilroy-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

:root {
  --desktop-global-padding-inline: 102px;
  --tablet-global-padding-inline: 40px;
  --mobile-global-padding-inline: 20px;

  --color-white: #ffffff;
  --color-black: #212529;
  --color-lime: #8cc449;
  --color-blue: #00adeb;
  --color-orange: #e6723c;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Gilroy', sans-serif;
  margin: 0;
}

input {
  border: none;
  outline: none;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
}

p,
ul {
  margin: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

h1,
h2,
h3 {
  margin: 0;
  color: var(--color-black);
}

h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
}

h3 {
  font-family: Gilroy;
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: 0%;
}

picture {
  display: block;
}

hr {
  border: none;
  margin: 0;
  padding: 0;
}

.logo {
  width: 120px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 140px;
  background-color: #f5f9fb;
  padding-bottom: 5px;
  z-index: 10;

  svg {
    width: 15px;
  }

  .header-top-desktop,
  .header-bottom-desktop {
    margin-inline: auto;
    width: 1440px;
  }

  .header-top-desktop {
    padding-inline: var(--desktop-global-padding-inline);
    display: flex;
    justify-content: space-between;
    background-color: #f5f9fb;
    color: #212529;
    height: 60px;

    div {
      display: flex;
      align-items: center;
      gap: 90px;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3px;
      }
    }

    ul {
      display: flex;
      align-items: center;
      gap: 24px;
    }
  }

  .header-bottom-desktop {
    padding-inline: var(--desktop-global-padding-inline);
    display: flex;
    justify-content: space-between;
    height: 60px;

    nav {
      color: var(--color-black);

      ul {
        display: flex;
        gap: 24px;
      }
    }
    align-items: center;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 224px;
      height: 40px;
      border: none;
      background-color: var(--color-lime);
      color: var(--color-white);

      svg {
        margin-bottom: -2px;
      }
    }
  }

  .header-mobile {
    display: none;
  }
}

main {
  overflow: hidden;
  margin-top: 244px;
  display: flex;
  flex-direction: column;
  gap: 110px;
  width: 1440px;
  margin-inline: auto;

  .foamiran-wholesale-supplies {
    display: flex;
    gap: 35px;
    padding-inline: var(--desktop-global-padding-inline);

    .foamiran-wholesale-supplies-wrapper {
      display: flex;
      flex-direction: column;
      height: 479px;
      justify-content: space-between;

      & > div {
        width: 707px;
        display: flex;
        flex-direction: column;
        gap: 45px;

        div {
          h1 {
            font-weight: 900;
            font-size: 57px;
            line-height: 110.00000000000001%;
            letter-spacing: -1%;
            text-transform: uppercase;

            span {
              color: var(--color-lime);
            }
          }

          h2 {
            width: 90%;
          }
        }
        ul {
          display: flex;
          justify-content: space-between;

          li {
            font-weight: 400;
            font-size: 17px;
            line-height: 150%;
            letter-spacing: 0%;
            display: flex;
            gap: 14px;
            color: #212529cc;

            img {
              width: 38.414451599121094px;
              height: 39.33334732055664px;
            }
          }
        }
      }

      form {
        display: flex;
        gap: 9px;

        input {
          width: 217px;
          height: 56px;
          background-color: #eaf4f9;
          font-weight: 400;
          font-size: 17px;
          line-height: 150%;
          letter-spacing: 0%;
          color: #21252999;
          padding-left: 21px;
        }

        button {
          width: 208px;
          height: 56px;
          font-weight: 600;
          font-size: 18px;
          line-height: 120%;
          letter-spacing: 0%;
          color: var(--color-white);
          background-color: var(--color-lime);
        }
      }
    }

    picture {
      width: 495px;
      height: 479px;
      img {
        width: 495px;
        height: 479px;
      }
    }
  }

  .offer {
    display: flex;
    background-color: #fff4d6;

    & > div:first-of-type {
      position: relative;

      picture {
        width: 667px;
        height: 724px;
        img {
          width: 667px;
          height: 724px;
        }
      }

      & > svg,
      & > img {
        position: absolute;
      }

      svg {
        top: 75px;
        right: -24px;
        transform: rotate(270deg);
      }

      & > img {
        bottom: 0;
        left: 100px;
      }
    }

    & > div:last-of-type {
      width: 600px;
      margin: auto;
      display: flex;
      flex-direction: column;
      gap: 40px;

      & > ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
          display: flex;
          flex-direction: column;
          gap: 5px;
          width: 283px;
          font-weight: 800;
          font-size: 47px;
          line-height: 120%;
          letter-spacing: 0%;

          div {
            display: flex;
            justify-content: space-between;

            h3 {
              display: flex;
              gap: 14px;
              color: #00adeb;
              font-size: 47px;

              span {
                font-weight: 700;
                font-size: 23px;
                line-height: 120%;
                letter-spacing: 0%;
              }
            }

            img {
              width: 64px;
              height: 64px;
            }
          }

          p {
            font-family: Gilroy;
            font-weight: 700;
            font-size: 15px;
            line-height: 140%;
            letter-spacing: 6%;
            text-transform: uppercase;
          }
        }

        li:nth-of-type(1),
        li:nth-of-type(2) {
          height: 82px;
          margin-bottom: 55px;
        }

        li:nth-of-type(3) {
          position: relative;

          div {
            h3 {
              z-index: 2;
            }

            img {
              position: absolute;
              right: 0;
            }
          }

          p {
            span {
              font-weight: 400;
              font-style: Regular;
              font-size: 17px;
              line-height: 140%;
              letter-spacing: 0%;
              vertical-align: bottom;
              color: #212529cc;
            }
          }
        }
      }

      & > div {
        display: flex;
        flex-direction: column;
        gap: 23px;

        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          li {
            display: flex;
            align-items: center;
            gap: 14px;
            width: 283px;
            font-weight: 400;
            font-size: 17px;
            line-height: 150%;
            letter-spacing: 0%;
            color: #212529cc;

            img {
              width: 8px;
              height: 8px;
            }
          }
        }
      }
    }
  }

  .application-ways {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .application-ways__title {
      text-align: center;
    }

    .application-ways__flex {
      display: flex;
      flex-wrap: wrap;
      gap: 35px;
      justify-content: center;
    }

    .application-ways__card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 8px;
      width: 283px;
      height: 246px;
      padding: 30px;
      background-color: #fff4d6;
    }

    .application-ways__card-header {
      display: flex;
      gap: 12px;
    }

    .application-ways__icon {
      width: 40px;
      height: 40px;
    }

    .application-ways__heading {
      font-size: 24px;
    }

    .application-ways__list {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .application-ways__item {
      display: flex;
      align-items: center;
      gap: 14px;
    }

    .application-ways__item-icon {
      width: 8px;
      height: 8px;
    }

    .application-ways__item-title {
      font-weight: 400;
      font-size: 17px;
      line-height: 150%;
      letter-spacing: 0%;
      color: #212529cc;
    }
  }

  .advantages {
    padding-inline: var(--desktop-global-padding-inline);
    display: flex;
    gap: 35px;

    .feature-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 35px;
      width: 707px;
    }

    .feature-card__header {
      display: flex;
      flex-direction: column;
      gap: 23px;
    }

    .feature-card__title--blue {
      color: var(--color-blue);
    }

    .feature-card__underline {
      width: 39px;
      height: 3px;
      background-color: var(--color-blue);
    }

    .feature-card__grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px;
    }

    .feature-card__item {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      width: 335.53px;
    }

    .feature-card__icon {
      width: 55px;
      height: 60px;
    }

    .feature-card__item:nth-child(2) .feature-card__icon,
    .feature-card__item:nth-child(7) .feature-card__icon {
      transform: translate(59px, 0) rotate(90deg);
    }

    .feature-card__item:nth-child(3) .feature-card__icon,
    .feature-card__item:nth-child(6) .feature-card__icon {
      transform: translate(-3px, 60px) rotate(270deg);
    }

    .feature-card__item:nth-child(4) .feature-card__icon,
    .feature-card__item:nth-child(5) .feature-card__icon {
      transform: translate(55px, 60px) rotate(180deg);
    }

    .feature-card__text {
      font-weight: 400;
      font-size: 17px;
      line-height: 150%;
      letter-spacing: 0%;
      color: #212529cc;
      width: 260.53px;
    }

    .form-promo {
      width: 495px;
      display: flex;
      flex-direction: column;
      gap: 45px;
    }

    .form-promo__content {
      width: 495px;
      height: 443px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 32px;
      position: relative;
      background: linear-gradient(162deg, #ff6f00 27%, #7cb342 0%);
    }

    .form-promo__puzzle {
      width: 66px;
      height: 101px;
      position: absolute;
    }

    .form-promo__content .form-promo__puzzle:first-of-type {
      transform: rotate(270deg) scaleY(-1);
      top: -18px;
      left: -13px;
    }
    .form-promo__content .form-promo__puzzle:nth-of-type(2) {
      top: 5px;
      right: 0;
    }

    .form-promo__icon-handshake {
      width: 72px;
      height: 57px;
    }

    .form-promo__title {
      text-align: center;
    }

    .form-promo__title--white {
      color: var(--color-white);
    }

    .form-promo__form {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    .form-promo__input {
      width: 431px;
      height: 50px;
      background-color: #ffffff;
      padding-left: 21px;
      font-weight: 400;
      font-size: 15px;
      line-height: 150%;
      letter-spacing: 0%;
    }
    .form-promo__button {
      width: 431px;
      height: 56px;
      background-color: var(--color-blue);
      font-weight: 600;
      line-height: 120%;
      letter-spacing: 0%;
      color: var(--color-white);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    .form-promo__button--arrow {
      width: 13px;
      height: 11px;
    }
    .form-promo__warranty {
      display: flex;
      gap: 10px;
      align-items: center;
    }
    .form-promo__waranty-icon {
      width: 40px;
      height: 40px;
    }
    .form-promo__warranty-text {
      font-weight: 700;
      font-size: 15px;
      line-height: 140%;
      letter-spacing: 6%;
      text-transform: uppercase;
    }
  }

  .wholesale-benefit {
    padding-inline: var(--desktop-global-padding-inline);
    display: flex;
    flex-direction: column;
    gap: 38px;

    .wholesale-benefit__title {
      margin-inline: auto;
      text-align: center;
      max-width: 813px;
    }

    .wholesale-benefit__title--blue {
      color: var(--color-blue);
    }

    .wholesale-benefit__grid {
      display: grid;
      grid-template-rows: repeat(3, 283px);
      grid-template-columns: repeat(4, 283px);
      gap: 35px;
    }

    .benefit-item {
      background-repeat: no-repeat;
      background-size: cover;
      padding-bottom: 35px;
      display: flex;
    }

    .benefit-item__gift-shops {
      background-image: url(/assets/images/benefit-item__gift-shops.webp);
    }

    .benefit-item__handmade-stores {
      background-image: url(/assets/images/benefit-item__handmade-stores.webp);
    }
    .benefit-item__game-toy-manufacturers {
      background-image: url(/assets/images/benefit-item__game-toy-manufacturers.webp);
      grid-area: 2 / 1 / 4 / 2;
    }
    .benefit-item__footwear-manufacturers {
      background-image: url(/assets/images/benefit-item__footwear-manufacturers.webp);
    }
    .benefit-item__model-making-studios {
      background-image: url(/assets/images/benefit-item__model-making-studios.webp);
    }
    .benefit-item__florists {
      background-image: url(/assets/images/benefit-item__florists.webp);
      grid-area: 1 / 3 / 2 / 5;
    }
    .benefit-item__designers {
      background-image: url(/assets/images/benefit-item__designers.webp);
      grid-area: 2 / 3 / 3 / 4;
    }
    .benefit-item__children {
      background-image: url(/assets/images/benefit-item__children.webp);
      grid-area: 2 / 4 / 3 / 5;
    }
    .benefit-item__crafters {
      background-image: url(/assets/images/benefit-item__crafters.webp);
    }

    .benefit-item .benefit-item__text {
      border-color: var(--color-lime);
    }
    .benefit-item__handmade-stores .benefit-item__text {
      border-color: var(--color-orange);
    }
    .benefit-item__game-toy-manufacturers .benefit-item__text {
      border-color: var(--color-blue);
    }
    .benefit-item__footwear-manufacturers .benefit-item__text {
      border-color: var(--color-lime);
    }
    .benefit-item__model-making-studios .benefit-item__text {
      border-color: var(--color-orange);
    }
    .benefit-item__florists .benefit-item__text {
      border-color: var(--color-blue);
    }
    .benefit-item__designers .benefit-item__text {
      border-color: var(--color-orange);
    }
    .benefit-item__children .benefit-item__text {
      border-color: var(--color-lime);
    }
    .benefit-item__crafters .benefit-item__text {
      border-color: var(--color-blue);
    }

    .benefit-item__text {
      margin-top: auto;
      font-weight: 700;
      font-size: 24px;
      line-height: 120%;
      letter-spacing: 0%;
      padding-left: 28px;
      border-left: 8px solid;
      color: var(--color-white);
    }

    .wholesale-callout {
      padding: 58px 30px;
      display: flex;
      gap: 6px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .wholesale-callout__text {
      font-weight: 700;
      font-size: 15px;
      line-height: 140%;
      letter-spacing: 6%;
      text-transform: uppercase;
      color: #212529;
    }
  }

  .wholesale-callout__count {
    display: flex;
    gap: 14px;
    font-weight: 800;
    font-size: 47px;
    letter-spacing: 0%;
    color: var(--color-blue);
    position: relative;
    width: 100%;
  }

  .wholesale-callout__count--text {
    font-size: 23px;
    font-weight: 700;
    height: 28px;
  }

  .wholesale-callout__image {
    position: absolute;
    right: 0;
  }

  .request-wholesale {
    background-color: var(--color-lime);
    width: 1237px;
    height: 306px;
    padding: 70px;
    position: relative;
    overflow: hidden;
    margin-inline: var(--desktop-global-padding-inline);

    .request-wholesale__content {
      display: flex;
      flex-direction: column;
      gap: 35px;
      width: 777px;
      height: 146px;
    }

    .request-wholesale__title--white {
      color: var(--color-white);
    }

    .request-form {
      display: flex;
      gap: 15px;
    }

    .request-form__input {
      width: 217px;
      height: 56px;
      padding-left: 20px;
      font-weight: 400;
      font-size: 15px;
      line-height: 150%;
      letter-spacing: 0%;
      color: #21252999;
      background-color: var(--color-white);
    }

    .request-form__button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 206px;
      height: 56px;
      gap: 10px;
      background-color: var(--color-blue);
      color: var(--color-white);
      font-weight: 600;
      font-size: 18px;
      line-height: 120%;
      letter-spacing: 0%;
    }

    .request-wholesale__image {
      position: absolute;
      top: -20px;
      right: 72px;
      z-index: 3;
    }

    .request-wholesale__bacgkround--wrapper {
      position: absolute;
      top: 0;
      right: 0;
    }

    .request-wholesale__gradient {
      position: absolute;
      top: 0;
      width: 195px;
      height: 305px;
      background: linear-gradient(270deg, rgba(140, 196, 73, 0) 0%, #8cc449 100%);
    }

    .request-wholesale__puzzle {
      position: absolute;
      height: 66px;
      width: 101px;
    }

    .request-wholesale__puzzle--top {
      top: -1px;
      right: 350px;
      transform: rotate(180deg) scaleX(-1);
    }

    .request-wholesale__puzzle--right {
      top: 136px;
      right: -18px;
      transform: rotate(270deg);
    }
  }

  .cooperation-options {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-inline: var(--desktop-global-padding-inline);

    .cooperation-options__header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 23px;
    }

    .cooperation-options__title--blue {
      color: var(--color-blue);
    }

    .cooperation-options__header--underline {
      width: 39px;
      height: 3px;
      background-color: var(--color-blue);
    }

    .cooperation-options__content {
      display: flex;
      gap: 35px;
    }

    .cooperation-options__image {
      width: 601px;
      height: 467px;
    }

    .cooperation-options__option {
      width: 283px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 30px;
      background-color: #fff4d6;
    }

    .cooperation-options__option-title {
      color: var(--color-blue);
    }

    .cooperation-options__option-subtitle {
      font-weight: 700;
      font-size: 15px;
      line-height: 140%;
      letter-spacing: 6%;
      text-transform: uppercase;
      color: #212529;
    }

    .cooperation-options__list {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .cooperation-options__list-item {
      display: flex;
      gap: 14px;
    }

    .cooperation-options__list-item--blue-circle {
      width: 8px;
      height: 8px;
      margin-top: 8px;
    }

    .cooperation-options__list-item-text {
      font-weight: 400;
      font-size: 17px;
      line-height: 150%;
      letter-spacing: 0%;
      color: #212529cc;
    }

    .cooperation-options__option--finished--wrapper {
      display: flex;
      flex-direction: column;
      gap: 93px;
    }

    .cooperation-options__delivery-info {
      display: flex;
      gap: 10px;
      width: 283px;
    }

    .cooperation-options__delivery-icon {
      width: 40px;
      height: 40px;
    }

    .cooperation-options__delivery-text {
      font-weight: 700;
      font-size: 15px;
      line-height: 140%;
      letter-spacing: 6%;
      text-transform: uppercase;
      color: #212529;
    }
  }

  .workflow {
    width: 1440px;
    height: 629px;
    background-color: #f5f9fb;
    padding: 90px var(--desktop-global-padding-inline);
    display: flex;
    flex-direction: column;
    gap: 35px;

    .workflow__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 23px;
    }

    .workflow__title-highlight {
      color: var(--color-blue);
    }

    .workflow__underline {
      width: 39px;
      height: 3px;
      background-color: var(--color-blue);
    }
    .workflow__subtitle {
      font-weight: 400;
      font-size: 17px;
      line-height: 150%;
      letter-spacing: 0%;
      text-align: center;
      color: #212529cc;
    }

    .workflow__steps-container {
      display: flex;
      flex-wrap: wrap;
      gap: 33px;
    }

    .workflow__step {
      display: flex;
      gap: 14px;
      align-items: center;
      position: relative;
      width: 283px;
      flex-wrap: wrap;
    }

    .workflow__step--margin-top {
      margin-top: 25px;
    }

    .workflow__step--number {
      font-weight: 800;
      font-size: 30px;
      line-height: 120%;
      letter-spacing: 0%;
      color: var(--color-white);
      position: absolute;
      top: 6px;
      left: 20px;
    }

    .workflow__text {
      font-weight: 400;
      font-size: 17px;
      line-height: 150%;
      letter-spacing: 0%;
      color: #212529cc;
    }
  }
}

@media (max-width: 1439px) {
  h2 {
    font-size: 45px;
  }

  header {
    height: 75px;
    padding-inline: 15px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    svg {
      height: 22px;
      width: auto;
    }

    .header-top-desktop,
    .header-bottom-desktop {
      display: none;
    }

    .header-mobile {
      display: flex;
      justify-content: space-between;
      width: 770px;
      margin-inline: auto;
      padding-inline: 16px;
    }
  }

  main {
    margin-top: 145px;
    margin-inline: auto;
    width: 770px;

    .foamiran-wholesale-supplies {
      flex-direction: column;
      gap: 40px;
      padding-inline: var(--tablet-global-padding-inline);

      .foamiran-wholesale-supplies-wrapper {
        height: 400px;
        width: 690px;

        & > div {
          width: 690px;

          div {
            h1 {
              font-size: 50px;
            }

            h2 {
              font-size: 45px;
              width: 100%;
            }
          }
        }

        form {
          input {
            width: 232px;
          }
        }
      }

      picture {
        width: 690px;
        height: 376px;

        img {
          width: 690px;
          height: 376px;
        }
      }
    }

    .offer {
      flex-direction: column-reverse;

      & > div:first-of-type {
        picture {
          width: 770px;
          height: 600px;

          img {
            width: 770px;
            height: 600px;
          }
        }

        svg {
          top: 23px;
          right: 18px;
        }

        & > img {
          bottom: 0;
          left: 192px;
        }
      }

      & > div:last-of-type {
        padding-block: 65px;

        width: 690px;

        ul {
          li {
            width: 335px;
          }
        }

        div {
          ul {
            li {
              width: 335px;
            }
          }
        }
      }
    }

    .application-ways {
      .application-ways__flex {
        gap: 20px;
      }
      .application-ways__card {
        width: 335px;
      }
    }

    .advantages {
      flex-direction: column;
      padding-inline: var(--tablet-global-padding-inline);

      .feature-card {
        width: 692px;
      }

      .form-promo {
        flex-direction: column-reverse;
        gap: 30px;
        width: 690px;
      }

      .form-promo__content {
        width: 690px;
        height: 313px;

        /* background: linear-gradient(152deg, #ff6f00 27%, #7cb342 0%); */
      }

      .form-promo__form {
        flex-direction: row;
      }
      .form-promo__input {
        width: 195px;
        height: 56px;
      }

      .form-promo__button {
        width: 206px;
      }
    }

    .wholesale-benefit {
      padding-inline: var(--tablet-global-padding-inline);
      gap: 30px;

      .wholesale-benefit__grid {
        grid-template-columns: repeat(2, 335px);
        grid-template-rows: repeat(6, 283px);
        gap: 20px;
      }

      .wholesale-callout {
        padding-block: 68.5px;
      }

      .benefit-item__florists {
        grid-area: 4 / 1 / 5 / 3;
      }
      .benefit-item__designers {
        grid-area: 5 / 1 / 6 / 2;
      }
      .benefit-item__children {
        grid-area: 5 / 2 / 6 / 3;
      }
    }

    .request-wholesale {
      width: 770px;
      height: 468px;
      padding-left: 40px;
      margin: 0;

      .request-wholesale__content {
        width: 424px;
        height: 355px;
        gap: 20px;
        position: relative;
        z-index: 2;
        background-color: var(--color-lime);
      }

      .request-form {
        flex-direction: column;
        gap: 15px;
      }

      .request-form__input {
        width: 424px;
      }

      .request-form__button {
        width: 424px;
      }

      .request-wholesale__image {
        top: 61px;
        right: 18px;
      }

      .request-wholesale__bacgkround--wrapper {
        top: 0px;
        right: -320px;
      }

      .request-wholesale__bacgkround {
        height: 468px;
        width: 713px;
        opacity: 0.9;
        position: relative;
        right: 20px;
      }

      .request-wholesale__gradient {
        width: 195px;
        height: 468px;
      }

      .request-wholesale__puzzle--top {
        right: 275px;
      }

      .request-wholesale__puzzle--right {
        display: none;
      }
    }

    .cooperation-options {
      gap: 30px;
      padding-inline: var(--tablet-global-padding-inline);

      .cooperation-options__content {
        gap: 20px;
        flex-wrap: wrap;
      }

      .cooperation-options__image {
        width: 690px;
        height: 537px;
        margin-top: 10px;
        order: 3;
      }

      .cooperation-options__option {
        width: 335px;
      }

      .cooperation-options__option--finished--wrapper {
        gap: 33px;
      }

      .cooperation-options__delivery-info {
        width: 335px;
      }
    }
    .workflow {
      gap: 30px;
      width: 770px;
      height: 840px;
      padding: 70px var(--tablet-global-padding-inline);

      .workflow__steps-container {
        gap: 20px;
      }

      .workflow__step {
        width: 335px;
      }

      .workflow__step--margin-top {
        margin-top: 0px;
      }
    }
  }
}

@media (max-width: 771px) {
  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 23px;
  }

  header {
    .header-mobile {
      width: 375px;
      padding-inline: var(--mobile-global-padding-inline);
    }
  }

  main {
    margin-top: 125px;
    width: 375px;
    margin-inline: auto;

    .foamiran-wholesale-supplies {
      padding-inline: var(--mobile-global-padding-inline);

      .foamiran-wholesale-supplies-wrapper {
        width: 335px;
        height: fit-content;
        gap: 40px;

        & > div {
          width: 335px;
          gap: 30px;

          div {
            h1 {
              font-size: 40px;
            }
            h2 {
              font-size: 30px;
            }
          }

          ul {
            gap: 30px;
            flex-direction: column;

            li {
              display: flex;
              align-items: center;
            }
          }
        }

        form {
          flex-direction: column;

          input,
          button {
            width: 335px;
          }
        }
      }

      picture {
        width: 335px;
        height: 280px;
        img {
          width: 335px;
          height: 280px;
        }
      }
    }

    .offer {
      & > div:first-of-type {
        picture {
          width: 375px;
          height: 292px;

          img {
            width: 375px;
            height: 292px;
          }
        }

        .offer-puzzle {
          width: 65px;
          height: 100px;
        }

        svg {
          top: -18px;
          right: -12px;
        }

        & > img {
          bottom: -30px;
          left: 0px;
        }
      }

      & > div:last-of-type {
        width: 335px;
        gap: 30px;
        flex-direction: column;
        padding-block: 45px;

        ul {
          li {
            position: relative;

            div {
              h3 {
                font-size: 30px;
              }

              img {
                position: absolute;
                right: 0;
              }
            }
          }

          li:nth-of-type(1),
          li:nth-of-type(2) {
            margin: 0;
          }
        }
      }
    }

    .application-ways {
      gap: 20px;

      .application-ways__flex {
        gap: 10px;
      }

      .application-ways__card {
        height: 236px;
      }

      .application-ways__heading {
        font-size: 20px;
      }
    }

    .advantages {
      padding-inline: var(--mobile-global-padding-inline);

      .feature-card__header {
        gap: 15px;
      }

      .feature-card {
        width: 335px;
      }

      .form-promo__content {
        width: 335px;
        height: 490px;
        padding: 60px 20px;

        /* background: linear-gradient(152deg, #ff6f00 27%, #7cb342 0%); */
      }
      .form-promo__form {
        flex-direction: column;
      }
      .form-promo__input {
        width: 294px;
        height: 50px;
      }

      .form-promo__button {
        width: 294px;
      }
      .form-promo__warranty {
        display: none;
      }
    }
    .wholesale-benefit {
      padding-inline: var(--mobile-global-padding-inline);

      .benefit-item {
        height: 133px;
        padding-bottom: 20px;
      }

      .benefit-item__gift-shops,
      .benefit-item__game-toy-manufacturers,
      .benefit-item__footwear-manufacturers,
      .benefit-item__children {
        background-position: center;
      }
      .benefit-item__handmade-stores,
      .benefit-item__designers {
        background-position-y: -65px;
      }
      .benefit-item__model-making-studios {
        background-position-y: -75px;
      }
      .benefit-item__crafters {
        background-position-y: -170px;
      }

      .benefit-item__text {
        padding-left: 15px;
        font-size: 18px;
      }

      .wholesale-benefit__grid {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .wholesale-callout {
        padding-block: 30px;
        height: 186px;
      }

      .wholesale-callout__count {
        font-size: 30px;
      }
    }

    .request-wholesale {
      width: 375px;
      height: 388px;
      padding: 50px 20px;
      margin-inline: auto;
      display: flex;
      align-items: center;

      .request-wholesale__content {
        width: 335px;
        height: 279px;
        gap: 15px;
      }

      .request-form__input {
        width: 335px;
      }

      .request-form__button {
        width: 335px;
      }

      .request-wholesale__image,
      .request-wholesale__puzzle,
      .request-wholesale__bacgkround--wrapper {
        display: none;
      }
    }

    .cooperation-options {
      padding-inline: var(--mobile-global-padding-inline);

      .cooperation-options__header {
        gap: 15px;
      }

      .cooperation-options__content {
        gap: 20px;
        flex-wrap: wrap;
      }
      .cooperation-options__content {
        flex-direction: column;
        gap: 10px;
      }

      .cooperation-options__image {
        width: 335px;
        height: 261px;
        margin-top: 20px;
      }

      .cooperation-options__option--finished--wrapper {
        gap: 20px;
      }
    }

    .workflow {
      width: 375px;
      height: 803px;
      padding: 50px var(--mobile-global-padding-inline);
      gap: 35px;

      .workflow__header {
        gap: 15px;
      }

      .workflow__steps-container {
        flex-direction: column;
      }

      .workflow__text {
        width: 264px;
      }

      .workflow__step--arrow {
        display: none;
      }
    }
  }
}
