:root {
  --desktop-global-padding-inline: 102px;
  --tablet-global-padding-inline: 40px;
  --mobile-global-padding-inline: 20px;

  --color-white: #ffffff;
  --color-black: #212529;
  --color-lime: #8cc449;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Gilroy;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
}

p,
ul {
  margin: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

h1,
h2,
h3 {
  margin: 0;
  color: var(--color-black);
}

.logo {
  width: 120px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 140px;

  & > a,
  button {
    display: none;
  }

  svg {
    width: 15px;
  }

  & > div:first-of-type {
    padding-inline: var(--desktop-global-padding-inline);
    display: flex;
    justify-content: space-between;
    background-color: #f5f9fb;
    color: #212529;
    height: 60px;

    div {
      display: flex;
      align-items: center;
      gap: 90px;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3px;
      }
    }

    ul {
      display: flex;
      align-items: center;
      gap: 24px;
    }
  }

  & > div:last-of-type {
    padding-inline: var(--desktop-global-padding-inline);
    display: flex;
    justify-content: space-between;
    height: 60px;

    nav {
      color: var(--color-black);

      ul {
        display: flex;
        gap: 24px;
      }
    }
    align-items: center;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 224px;
      height: 40px;
      border: none;
      background-color: var(--color-lime);
      color: var(--color-white);

      svg {
        margin-bottom: -2px;
      }
    }
  }
}

main {
  margin-top: 244px;

  .foamiran-wholesale-supplies {
    div:nth-of-type(1) {
      h1 {
        font-weight: 900;
        font-size: 57px;
        line-height: 110.00000000000001%;
        letter-spacing: -1%;
        text-transform: uppercase;

        span {
          color: var(--color-lime);
        }
      }

      h2 {
        font-weight: 700;
        font-size: 50px;
        line-height: 110.00000000000001%;
        letter-spacing: 0%;
      }
    }
  }
}

@media (max-width: 1439px) {
  main {
    .foamiran-wholesale-supplies {
      div:nth-of-type(1) {
        h1 {
          font-size: 50px;
        }

        h2 {
          font-size: 45px;
        }
      }
    }
  }
}

@media (max-width: 771px) {
  header {
    padding-inline: 15px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 75px;

    svg {
      height: 22px;
      width: auto;
    }

    & > a,
    button {
      display: block;
    }

    & > div:first-of-type,
    div:last-of-type {
      display: none;
    }
  }

  main {
    .foamiran-wholesale-supplies {
      div:nth-of-type(1) {
        h1 {
          font-size: 40px;
        }
        h2 {
          font-size: 30px;
        }
      }
    }
  }
}
